<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        <li>Manchester City</li>
        <li>Real Madrid</li>
        <li>A.C Milan</li>
        <li>Bayern Munich</li>
        <li>Paris Saint Germain</li>
    </div>
</div>
<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        <li>Manchester City</li>
        <li>Real Madrid</li>
        <li>A.C Milan</li>
        <li>Bayern Munich</li>
        <li>Paris Saint Germain</li>
    </div>
</div>
<script src="js/main.js"></script>