<section class="block container control">
    <header>
        <h2 class="control__header" >User-friendly Control Panel</h2>
    </header>
    <article class="grid grid--1x2 feature control__feature">
        <picture>
            <source type="images/webp" srcset="images/easy.webp 1x, images/easy@2x.webp 2x">
            <source type="images/jpg" srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x">
            <img class="control__image" src="Images/ipad@2x.png" alt="">
        </picture>
        <div class="control__panel">
            <div class="feature__content">
                <span class="control__icon">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#easy"></use>
                    </svg>
                </span>
                <h3 class="control__heading">Easy Start & Managed Updates</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam eveniet temporibus mollitia totam voluptatum, ducimus odio incidunt ad autem eos!</p>
            </div>
            <div class="feature__content">
                <span class="control__icon">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#easy"></use>
                    </svg>
                </span>
                <h3 class="control__heading">Staging, GIT & WP-CLI</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam eveniet temporibus mollitia totam voluptatum, ducimus odio incidunt ad autem eos!</p>
            </div>
            <div class="feature__content">
                <span class="control__icon">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#easy"></use>
                    </svg>
                </span>
                <h3 class="control__heading">Dynamic Coaching and More</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam eveniet temporibus mollitia totam voluptatum, ducimus odio incidunt ad autem eos!</p>
            </div>
        </div>
    </article>
</section>